link(href="/libs/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet")
link(href="/libs/editor/simditor.css", rel="stylesheet")
link(href="/libs/css/style.css", rel="stylesheet")
script(src="/libs/jquery/dist/jquery.min.js")
script(Src="/libs/bootstrap/dist/js/bootstrap.min.js")
script(Src="/libs/admin/admin.js")
script(Src="/libs/script.js")